body {
  background: url('../img/drake1.jpg') no-repeat 50% 50%;
  background-size: cover;
  height: 100%;
  width: 100%;
  height: 100vh;
  font-family: 'Rationale', sans-serif;
  font-size: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 1.5);
  color: #FFF;
  margin-top: 45%;
  margin-left: auto;
  margin-right: auto;
}

#headline {
  font-size: 3em;
}

button {
  background-color: rgba(0, 0, 0, 0.1);
  border-style: none;
}

.findLyric:hover {
  cursor: pointer;
  color: #a1917c;
  font-weight: bold;
}

#title {
  text-decoration: underline;
  font-size: 1.25em;
}

#player {
  display: none;
}

#artistName {
  background-color: rgba(0, 0, 0, 0.35);
}

.tracklist {
  background-color: rgba(0, 0, 0, 0.35);
}

.lyrics {
  background-color: rgba(0, 0, 0, 0.35);
}

#end {
  font-size: 15px;
  text-align: center;
  color: #FFF;
}

.icons {
margin-top: 75%;
vertical-align: bottom;
text-align: center;
font-size: 35px;
color: #FFF;
padding: 3em;
}

.icons a {
color: #FFF;
}

a:hover {
color: #a1917c;;
}
